/* fonts */
@font-face {
    font-family: Alegreya;
    src: url(/src/assets/fonts/Alegreya.ttf);
}
@font-face {
    font-family: 'Alegreya Sans';
    src: url(/src/assets/fonts/AlegreyaSans-Light.ttf);
}
@font-face {
    font-family: 'Alegreya Sans1';
    src: url(/src/assets/fonts/AlegreyaSans-Regular.ttf);
}
@font-face {
    font-family: 'Alegreya Sans2';
    src: url(/src/assets/fonts/AlegreyaSans-Bold.ttf);
}
@font-face {
    font-family: 'Accent Font';
    src: url(/src/assets/fonts/Darker-Grotesque.ttf);
}

/* the colors */
:root{
    --pri-color: #16cb86;
    --accent-color: #cf8921;
    --white: #f5fcfa;
    --black: #021812;
    --light-accent-color: #f4eed4;
    --darker-pri-color: #05352f;

    /* font sizes */
    --base-fsize: 16px;
    --sm-fsize: 13px;
    --bgscreen-fsize: 18px;
    --bg-fsize1: 22px;
    --bg-fsize2: 26px;
    --bg-fsize3: 30px;
}

/* element resets */
a{
    text-decoration: none;
}

*{
    box-sizing: border-box;
    padding: 0; margin: 0;
}

p{
    font-family: Alegreya, inter, Impact, serif;
}

h1,h2,h3,h4{
    font-family: 'Alegreya Sans2', sans-serif;
    color: var(--darker-pri-color);
}

h1,h2{
    padding-left: 1rem;
    border-left: 3.6px solid var(--pri-color);
    margin: 2rem 0 1rem;
    border-radius: .2rem;
}

h3, h4{
    display: inline-block;
    border-bottom: 2px solid var(--pri-color);
    text-transform: uppercase;
}

button{
    background: none;
    border-radius: .4rem;
    padding: .2rem .8rem;
    outline: none; border: 1px solid;
    font: 1.1rem 'Alegreya Sans1', sans-serif;
}

/* utility classes */
.flex{display: flex; gap: 1rem;}
.flex-col{
    display: flex;
    flex-direction: column;
}

.flx-shrink{flex-shrink: 2;}

.pad1{padding: 1rem;}
.pad2{padding: 2rem;}
.pad3{padding: 3rem;}
.pad4{padding: 4rem;}
.acc-color{color: var(--accent-color);}
.sm-txt{font-size: var(--base-fsize);}

.mt1{margin-top: 1rem;}
.mt2{margin-top: 2rem;}
.mt4{margin-top: 4rem;}
.mt8{margin-top: 8rem;}

.card{
    box-shadow: 0 4px 4px -3px var(--darker-pri-color);
    border: 1px solid var(--light-accent-color);
    border-radius: .4rem;
    /* background: var(--light-accent-color); */
}

.il-focus-txt{
    display: inline-block;
    background-color: var(--darker-pri-color);
    padding: .1rem .4rem;
    color: var(--light-accent-color);
    border-radius: .2rem;
    font-size: 1.1rem;
}
